$maxWidth: 1366px;
$menuMobileHeight: 100vh;
$menuDesktopHeight: 5rem;
$footerMobileHeight: 4rem;
$footerTabletHeight: 5rem;

$primary400: #0874b7;
$primary500: #065a8f;
$secondary500: #f0f0f0;
$secondary600: #d2d2d2;
$tertiary400: #99e4a9;
$tertiary500: #81bd8e;
$fontColorWhite: #fff;
$fontColorLight: #444;
$fontColorDark: #000;

$fontSizeDefault: 10px;
$fontSizeMobile: 1.7rem;
$fontSizeTablet: 2.2rem;
$fontSizeDesktop: 2.4rem;

$headerFontSizeMobile: 2rem;
$headerFontSizeTablet: 3rem;
$headerFontSizeDesktop: 4rem;

$fontFamily: 'Open Sans', sans-serif;
$fontFamilyHeader: 'Bree Serif', serif;
$fontFamilySignature: 'Satisfy', cursive;

$marginBottomMobile: 2rem;
$marginBottomTablet: 4rem;
$marginBottomDesktop: 3rem;

$pagePaddingMobile: $menuDesktopHeight 3rem;
$pagePaddingTablet: $menuDesktopHeight 6rem;
$pagePaddingDesktop: $menuDesktopHeight 9rem;
$footerPaddingMobile: 1rem 3rem;
$footerPaddingDesktop: 1rem calc((100% - $maxWidth) / 2);
