@import 'variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 20rem;
  height: 14rem;
  border-radius: 3rem;
  background-color: $primary400;
  cursor: pointer;

  .title {
    text-align: center;
    color: $fontColorWhite;
  }
}
