@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1366px) {
      flex-direction: row;
    }

    .info {
      @media (min-width: 1366px) {
        margin-right: 10rem;
      }

      .subHeader {
        margin-bottom: 1rem;
      }

      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        width: 100%;

        .image {
          position: relative;
          width: 20rem;
          height: 12rem;
        }
      }

      .reservationContainer {
        margin-bottom: 3rem;
        color: #000;

        .reservation {
          margin-bottom: 0.5rem;
        }

        .telephone {
          margin-bottom: 1rem;
          text-decoration: underline;
        }

        .email {
          span {
            text-decoration: underline;
          }
        }
      }

      .address {
        margin-bottom: 3rem;
      }

      .openHoursWrapper {
        margin-bottom: 3rem;

        .openHoursHeader {
          margin-bottom: 1rem;
        }

        .openHours {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
