@import 'variables';

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Bree Serif';
  src: url('../fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: $fontSizeDefault;
  font-family: $fontFamily;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
