@import 'variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .textContent {
    margin-bottom: $marginBottomMobile;
    text-align: justify;

    @media (min-width: 1024px) {
      flex-basis: 50%;
      margin-bottom: 0;
      margin-right: 2rem;
    }

    .text1 {
      margin-bottom: $marginBottomMobile;
    }

    .text2 {
      margin-bottom: $marginBottomMobile;
    }

    .signature {
      display: block;
      padding-right: 2rem;
      text-align: right;
      font-style: italic;
      font-family: $fontFamilySignature;
      font-size: $fontSizeMobile + 0.5rem;
      color: #000;
    }
  }

  .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 45rem;

    @media (min-width: 768px) {
      width: 40rem;
      height: 60rem;
    }

    @media (min-width: 1024px) {
      width: 60rem;
      height: 80rem;
    }
  }
}

