@import 'variables';

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $pagePaddingMobile;
  width: 100%;
  height: 100%;
  font-size: 2rem;

  @media (min-width: 1024px) {
    padding: $pagePaddingDesktop;
  }
}
